@import '~styles/helpers/_module';

/*
$row-height: 100px;

:host {
	position: sticky;
	top: 0;
	width: 100%;
	display: block;
	box-shadow: 0px 7px 12px 0px #00000029;
	background: #1e2d7d;
	min-height: $row-height;
	z-index: 4;

	.header {
		&__top {
			display: flex;
			width: 100%;
			justify-content: space-between;
			box-sizing: border-box;
			flex-grow: 0;
			flex-shrink: 1;
			&-navbar {
				display: flex;
				align-items: center;
			}
		}
		&__bottom {
			&-navbar {
				display: block;
			}
		}
		&__top-left {
			display: flex;
			height: $row-height;
			align-items: center;
		}
		&__hamburger {
			@include button($background-color: black);
			box-sizing: border-box;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 42px;
			padding: 0 12px;
			margin-right: 6px;
		}
		&__shopping-cart-icon {
			@include clickable;
		}
		&__logo-image {
			&-wrapper {
				height: 100%;
				//display: flex;
				display:none;
				align-items: center;
			}
			&.desktop {
				max-height: 76px;
			}
			max-height: 76px;
			@include clickable;
			padding: 12px 0;
		}
	}
}*/


:host {
	position: sticky;
	top: 0;
	width: 100%;
	display: block;
	box-shadow: 0px 7px 12px 0px #00000029;
	background: #1e2d7d;
	min-height: $row-height;
	z-index: 4;

	.top-bar {
		background-color: #f5f5f5;
		.row {
			padding:6px 0;
			width:100%;
			.column {
				display:inline-block;
				width: calc(100% / 4 - 20px); 
				margin-right:20px;
				vertical-align: initial;
				&:nth-of-type(4) {
					margin-right: 0;
				}
				&:nth-of-type(1) {
					img {
						position: relative;
						top:-2px;
					}
				}
				img {
					height:26px;
					width:26px;
					margin-right: 10px;
					float:left;
					display:block;
				}
				p {
					display:inline-block;
					width: calc(100% - 36px);
					//max-width: 130px;
					font-size:12px;
					font-weight: 400;
					line-height: 1;
					margin:0;
					vertical-align: middle;
				}
			}
		}
	}

	.header {
		width: 100%;
		max-width: none !important;
		
		padding: 0;
		&__top {
			display: flex;
			width: 100%;
			justify-content: space-between;
			box-sizing: border-box;
			flex-grow: 0;
			flex-shrink: 1;
			height:40px;
			background: $white !important;
			&-navbar {
				display: flex;
				align-items: center;
				max-width: 1180px;
				width: 100%;
				padding: 0 20px;
				margin: 0 auto;
			}
		}
		&__bottom {
			&-navbar {
				display: block;
			}
		}
		&__top-left {
			display: flex;
			height: $row-height;
			align-items: center;
		}
		&__hamburger {
			@include button($background-color: black);
			box-sizing: border-box;
			display: flex;
			align-items: center;
			justify-content: center;
			height: 42px;
			padding: 0 12px;
			margin-right: 6px;
		}
		&__shopping-cart-icon {
			@include clickable;
		}
		&__logo-image {
			&-wrapper {
				height: 100%;
				//display: flex;
				display:none;
				align-items: center;
			}
			&.desktop {
				max-height: 76px;
			}
			max-height: 76px;
			@include clickable;
			padding: 12px 0;
		}
	}
}