@import '~styles/helpers/_module';
:host {


	.storybook-content{
		cursor: pointer;

		.overlay{


			&-content{
				padding: 12px 6px 12px 12px;
			}


			&.product{
				.product-name{
					text-decoration: none;
					min-height:50px;
				}

				.price{
					display: flex;
					flex-direction: row;
					order:2;

					.original-price {
						font-size: 14px;
						font-weight: 400;
						line-height: 20px;
						text-decoration: line-through;
						margin-top:0;
						padding-top: 2px;
					}
					.selling-price {
						padding-right: 14px;
					}
					.regular-price {
						color: #00badb;
					}
					.selling-price,
					.regular-price {
						font-weight: 700;
						font-size: 20px;
						line-height: 20px;
						white-space: nowrap;
					}
				}
			}
            &.below {
                .overlay-content {
                    background-color: transparent !important;
                    .content-headline,
                    .product-name,
                    .category-name,
                    .article-headline,
                    .link-text,
                    .content-subheadline,
                    .article-subheadline {
                        color:$black !important;
					}
					.link-text {
						&:hover {
							background-color: $black !important;
							color:$white !important;
							@include transition(0.3s);
						}
					}
                }
			}
			.storybook-default-template-content-background-overlay,
			.storybook-article-content-background-overlay,
			.storybook-category-content-background-overlay,
			.storybook-product-content-background-overlay,
			.storybook-template-id-content-background-overlay,
			.storybook-image-content-background-overlay {
				cursor: pointer;
				.content-headline,
				.content-subheadline {
					max-width: 1180px;
					width: 100%;
					margin: 0 auto;
				}
			}
			.storybook-image-content-background-overlay {
				cursor: default;
			}
			
		}

	}
}
