@import '~styles/helpers/_module';

.search-bar {
	height: 60px;
	&__input {
		height: 30px;
		padding:8px;
		background-color: #f5f5f5;
        margin: 10px 0;
        color: #333333 !important;
	}
}