:host {
	position: relative;
	cursor: zoom-in;
    cursor: -webkit-zoom-in;
    overflow: hidden;
    &:hover {
        .img {
            transition: 0.3s;
            transform: scale(1.5);
        }
    }
}

.product-card-icon-holder {
	position: absolute;
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-start;
	flex-wrap: wrap;
	top: 0;
	width:100%;
	.product-image-icon {
		background-color: rgba(0, 0, 0, 0.75);
		border-radius: 2px;
		margin:3px;
		padding:3px;
		height: auto;
		max-width: 20px;
		max-height: 20px;
	}
}
