@import '~styles/helpers/_module';

:host {
    cursor: pointer;
    

	.colors,
	.name,
	.price {
        width: calc(100% - 24px);
		.original-price {
			font-size: 14px;
			font-weight: 400;
			line-height: 20px;
			text-decoration: line-through;
			margin-top:0;
			padding-top: 2px;
		}
		.selling-price {
			padding-right: 14px;
		}
		.regular-price {
			color: #00badb;
		}
		.selling-price,
		.regular-price {
			font-weight: 700;
			font-size: 20px;
			line-height: 20px;
			white-space: nowrap;
		}
	}

	.name {
		line-height: 1.2 !important;
		font-size: 14px !important;
		min-height:34px !important;
		overflow: hidden;
		font-weight: 300;
		margin: 16px 0 6px 0;
		letter-spacing: -0.8px;
	}

	.price {
		margin-bottom: 6px;
	}

}
