@import "~styles/helpers/_module";

:host {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    border-left: 4px solid #00badb;
	height: 50px;
	padding: 0 25px;
	display: flex;
	align-items: center;
	background-color: white;
	border-bottom: solid 1px #ebebeb;
	box-sizing: border-box;

	.breadcrumbs {
		&__arrow {
			color: #bebdbd;
			@include base-font-size;
		}

		&__link, &__arrow {
			margin-right: 13px;
		}

		&__text, &__link {
			@include small-font-size;
			font-weight: 400;
		}

		&__link {
			color: $upscale-blue;
			cursor: pointer;
			text-decoration: underline;
		}
	}
}
