:host {
	margin-bottom: 40px;
	background-color: transparent !important;
}




.product {

	&-tile {
        cursor: pointer;
	}
}

.upscale-large-width, .upscale-extra-large-width {
	:host {
		.product {
			border: 1px solid #f5f5f5;
		}
	}
}
