@import '~styles/helpers/_module';

$button-height: 50px;
$small-spacing: 12px;
$medium-spacing: 24px;
$large-spacing: 48px;

.image-content {
	cursor: pointer;
}

.image-container {
	.overlay-content {
		background-color: transparent !important;

		.link-button {
			background-color: $white;
			cursor: pointer !important;
			&:hover {
				opacity: 1 !important;
				background-color: $black !important;
				color:$white !important;
			}
		}
	}
}