@import '~styles/helpers/_module';

$button-height: 50px;
$small-spacing: 12px;
$medium-spacing: 24px;
$large-spacing: 48px;

.full-width-image-container {
	margin: 0 auto;
	width: 100%;
}

.headline-text, .sub-headline-text, .link-text, .link-button {
	@include truncate-text-with-ellipsis;
	display: inline-block;
	max-width: 100%;
	padding: 0 20px;
}

.headlines-content{
	display: flex;
	flex-direction: column;
}

.image-aspect-ratio {
	&_16-9 {
		padding-top: 9/16 * 100%;
	}

	&_4-3 {
		padding-top: 3/4 * 100%;
	}

	&_1-1 {
		padding-top: 100%;
	}
}

.component-headline,
.component-sub-headline,
.headline,
.sub-headline,
.link {
	&_left {
		text-align: left;
	}

	&_center {
		text-align: center;
	}

	&_right {
		text-align: right;
	}
}

.component-headline,
.component-sub-headline {
	@include truncate-text-with-ellipsis;
}

.image-content {
	margin: auto;
}

.image-container {
	position: relative;

	.overlay-content {
		position: absolute;
		box-sizing: border-box;
		max-height: 100%;

		&.default {
			width: 100%;
			bottom: 0;
		}

		.link-text {
			@include medium-font-size;
			background-color: unset;
			border: none;
			display: block;
			max-width: 100%;
			padding: 0 20px;

			span{
				padding: 0 20px;

				&.background-transparent{
					background-color: transparent !important;
					padding: 0;
				}
			}
		}

		.link-button {
			@include medium-font-size;
			height: $button-height;

			&:hover {
				opacity: .8;
			}
		}
	}
}

.upscale-extra-small, .upscale-small {
	:host {
		.overlay-content.default {
			padding: $medium-spacing;

			.spacing {
				height: $small-spacing;
			}
		}
	}
}

.upscale-medium, .upscale-large, .upscale-extra-large {
	:host {
		.overlay-content.default {
			padding: $large-spacing;

			.spacing {
				height: $medium-spacing;
			}
		}
	}
}

.upscale-extra-small, .upscale-small {
	:host {
		.overlay-content.showcase {
			bottom: 68px;
			left: 6px;
			right: 6px;
			padding: 10px 3px;

			.spacing {
				height: $small-spacing;
			}
		}
	}
}

.upscale-medium {
	:host {
		.overlay-content.showcase {
			bottom: 92px;
			left: $medium-spacing;
			right: $medium-spacing;
			padding: $medium-spacing $small-spacing;

			.spacing {
				height: $medium-spacing;
			}

			.link-container {
				width: 50%;
			}
		}
	}
}

.upscale-extra-small, .upscale-small, .upscale-medium {
	:host {
		.overlay-content.showcase {
			display: block;
		}
	}
}

.upscale-large, .upscale-extra-large {
	:host {
		.overlay-content.showcase {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;

			bottom: 141px;
			left: $large-spacing;
			right: $large-spacing;
			padding: $medium-spacing;

			.headlines-content {
				flex: 2;
				padding-right: $medium-spacing;
			}

			.link-container, .link-text {
				flex: 1;
				margin-top: auto;
			}

			.link-text {
				height: $button-height;
				line-height: $button-height;
			}
		}
	}
}
