@import '~styles/helpers/_module';

:host{




	.storyBookProgressBar{
		display: none;
	}
}




.upscale-small,
.upscale-extra-small {
	:host {
		.storybook-background {
			padding: 12px 15px 12px 15px;
		}
	}
}

.upscale-medium {
	:host {
		.storybook-background {
			padding: 24px 0;
		}
	}
}

.upscale-large,
.upscale-extra-large {
	:host {
		.storybook-background {
			padding: 40px 0;
		}
	}
}
