@import '~styles/helpers/_module';

:host{


	.sub-title {
		font-size: 30px;
		&-alignment {
			&_center {
				line-height: 31px;
				span {
					padding:0 30px;
					&:before,
					&:after {
						content: '';
						display: block;
						width: 1000px;
						position: absolute;
						top: .5em;
						border-top: 1px solid #dddddd;
						box-sizing: border-box;
					}
					&:before {
						right: 100%;
					}
					&:after {
						left: 100%;
					}
				}
			}
		}
	}

	.storyBookProgressBar{
		display: none;
	}
}




.upscale-small,
.upscale-extra-small {
	:host {
		.storybook-background {
			padding: 12px 15px 12px 15px;
		}
	}
}

.upscale-medium {
	:host {
		.storybook-background {
			padding: 24px 0;
		}
	}
}

.upscale-large,
.upscale-extra-large {
	:host {
		.storybook-background {
			padding: 40px 0;
		}
	}
}
